.DS_Store
# rcov generated
coverage
test/methods_test.rb
test/samples/small2
lib/bio/db/sam/external/samtools-1.0
lib/bio/db/sam/external/samtools.exe

# rdoc generated
rdoc

# yard generated
#doc
#.yardoc

# bundler
.bundle
/vendor/bundle

# jeweler generated
pkg


.idea/*

lib/bio/db/sam/external/bcftools
lib/bio/db/sam/external/libbam*
lib/bio/db/sam/external/samtools
snippets/*
test/coverage.rb
test/coverage_plot.rb
test/feature.rb

test/samples/small/test_dot.bam
test/samples/small/test_dot.fasta
test/samples/small/test_dot.fasta.fai
test/samples/small/test_dot.tam
test/samples/small/test_dot_sorted.bam
test/samples/small/test_dot_sorted.bam.bai
test/samples/small/testu.bam.bai


# Have editor/IDE/OS specific files you need to ignore? Consider using a global gitignore:
#
# * Create a file at ~/.gitignore
# * Include files you want ignored
# * Run: git config --global core.excludesfile ~/.gitignore
#
# After doing this, these files will be ignored in all your git projects,
# saving you from having to 'pollute' every project you touch with them
#
# Not sure what to needs to be ignored for particular editors/OSes? Here's some ideas to get you started. (Remember, remove the leading # of the line)
#
# For MacOS:
#
.DS_Store
#
# For TextMate
#*.tmproj
tmtags
#
# For emacs:
#*~
\#*
.\#*
#
# For vim:
*.swp
old_lib/

#For the gems to work

Gemfile.lock

bio-samtools-0.6.1.gem

#The gemspec changes according to the environment
bio-samtools.gemspec
